---
import type { BlogPost } from 'src/types'

export type Props = { blogPost: BlogPost; url: string }

const { blogPost, url } = Astro.props as Props
const datetime = new Date(blogPost.publishDate).toISOString().split('T').at(0)
---

<div class="wrapper">
  <div class="information">
    <time datetime={datetime}>{datetime}</time>
  </div>
  <div class="content">
    <a href={url}>
      <h2>{blogPost.title}</h2>
    </a>
    <p>{blogPost.description}</p>
  </div>
</div>

<style>
  h2 {
    margin-top: 0;
  }
  .wrapper {
    display: flex;
    align-items: baseline;
    gap: 2em;
  }
  .information {
    flex: 0 0 auto;
    font-size: 0.8em;
    font-weight: 600;
    opacity: 0.5;
    text-align: right;
  }
</style>
